<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dialogs_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/web3.js' %}"></script>
    <script src="{% static 'js/test1.js' %}"></script>
    <script src="{% static 'js/nacl.js' %}"></script>
    <script src="{% static 'js/nacl-util.js' %}"></script>
    <script src="{% static 'js/test3.js' %}"></script>

</head>
<body>
    <div id="menu-container">
        <div id="name-container">
            <div class="user_info">
                <img src="{{ user_login.avatar.url}}">
                <div class="name_balance">
                    <p class="name">{{ user_login.login }}</p>
                    <div class="balance">
                        <p id="user_balance">{{ balance }}</p>
                        <span>Brc</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu-list">
            <div class="menu">
                <a href="{% url 'dialogs' %}">Диалоги</a>
            </div>
            <div class="menu">
                <a href="{% url 'transfer' %}">Перевести</a>
            </div>
            <div class="menu">
                <a href="{% url 'settings' %}">Настройки</a>
            </div>
        </div>
        <div id="exit-link-container">
            <a href="{% url 'logout' %}">Выйти</a>
        </div>

        {% block content %}
            Text
        {% endblock %}
    </div>
</body>
</html>